<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/icons/weather-icons.css">
    <link rel="stylesheet" href="./css/icons/weather-icons-wind.css">
    <script src="https://kit.fontawesome.com/0f7608553d.js" crossorigin="anonymous"></script>
</head>
<body>

   {{{body}}}

    <script src="./index.js"></script>
</body>
</html>